header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5%;
}

main {
  position: relative;
  height: 80vh;
}

.container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  max-width: 600px;
  padding: 1.5%;
}

button {
  padding: 15px;
  font-weight: bold;
  background-color: rgb(10, 88, 10);
  color: #ffffff;
  border: none;
  border-radius: 5%;
}

.question-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.question-container h1 {
  font-size: 1.5rem;
}

.question-container button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  font-weight: normal;
  border: 1px solid #000000;
  border-radius: 5%;
  max-width: 600px;
  margin: 0.5rem;
}
